%a{href: "/v5/home"}
    .flexbox-container#b-flex
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b
        .flex-block.b