%a{href: "/v5/home"}
    .flexbox-container#swatches
        .flex-block#s1
        .flex-block#s2
        .flex-block#s3
        .flex-block#s4
        .flex-block#s5
        .flex-block#s6
        .flex-block#s7
        .flex-block#s8
        .flex-block#s9
        .flex-block#s10