.container-fluid
    .row
        .col-xs-6#bone
            1
        .col-xs-6#btwo
            2
    .row
        .col-xs-6#bthree
            3
        .col-xs-6#bfour
            4
    .row
        .col-xs-6#bfive
            5
        .col-xs-6#bsix
            6