// Place all the styles related to the v6 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    width: 100%;
}

#aone {
    background: #c5cccb;
    color: white;
    text-align: center;
    // padding: 9%;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#atwo {
    background: #878e8e;
    color: white;
    text-align: center;
    // padding: 9%;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#athree {
    background: #606665;
    color: white;
    text-align: center;
    // padding: 9%;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#bone {
    background: #c5cccb;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#btwo {
    background: #878e8e;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#bthree {
    background: #606665;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#bfour {
    background: #eff7f6;
    color: #878e8e;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#bfive {
    background: #c5cccb;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#bsix {
    background: #878e8e;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;    
}

#done {
    background: #606665;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 4%;
}

#dtwo {
    background: #c5cccb;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}

#dthree {
    background: #878e8e;
    color: white;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;    
}

#dfour {
    background: #eff7f6;
    color: #878e8e;
    text-align: center;
    padding: 30% 5% 40% 5%;
    font-size: 30px;
}

#cone {
    background: #c5cccb;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 40% 5% 40% 5%;
}

#ctwo {
    background: #878e8e;
    color: white;
    text-align: center;
    padding: 40% 5% 40% 5%;
    font-size: 30px;  
}

#cthree {
    background: #eff7f6;
    color: #878e8e;
    text-align: center;
    padding: 20% 5% 20% 5%;
    font-size: 30px;
}